<!-- <header>
  <div class="container">
    
    <nav>
      <ul>
        <a routerLink="/home">LablyUI</a>
        
        <li><a routerLink="/admin">Admin</a></li>
        <li><a routerLink="/labs">Labs</a></li>
        <li><a routerLink="/tests">Tests</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div> -->



<header>
    <div class="container">
      <nav>
        
        <ul>
          <a routerLink="/home">LablyUI</a>
          <li><a routerLink="/students">Students</a></li>
          <li><a routerLink="/books">Books</a></li>
          <li><a routerLink="/admin">Admin</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div class="container">
    <router-outlet></router-outlet>
  
  </div>